.wrapper {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


.center {
    position: fixed;
    width: 50%;
    height: 100%;
    border: 1px solid #fff;
}

.images {
    position: fixed;
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: space-around;
    position: relative;
}

.border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: red;
    ;
}

.image1 {
    background: url('/model/cloth/vertex_animation_textures1_col.png') no-repeat;
    width: 50vw;
    color: white;
    background-size: 100% 100%;
}

.image2 {
    background: url('/model/cloth/vertex_animation_textures1_pos.png') no-repeat;
    width: 50vw;
    color: white;
    background-size: 100% 100%;
}